<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .d-none {
            display: none !important;
        }
        
        .box {
            padding: 100px 0;
            width: 400px;
            background: #ddd;
            margin: 20px;
            display: inline-block;
            text-align: center;
        }
        
        .mt-0 {
            margin-top: 0px !important;
        }
        
        .pt-0 {
            padding-top: 0px !important;
        }
        
        .fav img {
            border: 4px solid yellow;
        }
    </style>
</head>

<body>
    <div class="d-none">
        <div id="app">
            {{ message }}
            <p>
                {{something}}
            </p>
        </div>

        <div id="kevId">
            {{ message }}
            <p>
                {{something}}
            </p>
        </div>

        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
        </div>

        <div id="app-3">
            <span v-if="message">Now you see me</span>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

    </div>

    <div id="CreateApp">
        <h1>This is Vue :)</h1>

        <!-- if else statement s -->
        <div v-if="showBooks">
            <p><strong>{{title}}</strong> {{author}} {{age}}</p>
        </div>

        <!-- you can use either @ or v-on to attach events to buttons -->
        <button v-on:click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <p></p>

        <!-- updating the title directly after clicking -->
        <p @click="title='The JavaScript Master'">Click me to change the book title to <strong>The JavaScript Master</strong></p>

        <!-- updating the title directly using functions -->
        <p @click="changeTitle">Click me to change the book title to the
            <strong>vue master</strong>
        </p>

        <!-- updating the title with a function that has arguments -->
        <p @click="newTitle('The Front End Guru')">Click me to change the book title to the
            <strong>The Front End Guru</strong>
        </p>

        <!-- use this toggle -->

        <!-- v-if completely takes out an element from the DOM -->

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide books</span>

            <!-- show this when it is hidden -->
            <span v-if="!showBooks">Show books</span>
        </button>
        <p></p>
        <!-- or you can use this to toggle -->

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide books</span>

            <!-- show this when it is hidden -->
            <span v-else>Show books</span>
        </button>
        <p></p>

        <!-- the other very alternative method -->

        <!-- when using v-show it uses the css to either display or hide the element -->
        <div v-show="showBooks">Currently showing books</div>
        <br>
        <br>
        <!-- <br> mouse events -->

        <!-- this is how we pass our own arguments plus the event argument($event,our_argument) -->
        <div class="box" @mouseover="handleEvent($event,5)">Mouseover (enter)</div>

        <!-- when we don't pass our own argument with muse events,the event object becomes the first argument that is passed -->
        <div class="box" @mouseleave="handleEvent"> mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">Position {{x}} {{y}}</div>


        <h4>Looping through items</h4>
        <ul>

            <!-- the class isFav is included if the isFav property is true.This is a class binding that is bveing done in regards to the value -->
            <li v-for="items in books" :class="{fav:items.isFav}" @click="changeFav(items)">
                <strong>{{items.title}}</strong>
                <p class="pt-0 mt-0">{{items.writer}}</p>
                <img :src="items.img">
            </li>
        </ul>

        <h4>Attribute binding</h4>

        <!-- this can be done in two ways -->
        <!-- first one -->
        <p><a v-bind:href="url">Facebook website</a></p>

        <!-- first one -->
        <p><a :href="url">Another facebook link</a></p>
        <!-- basically for binding you can use either v-bind or just the full colon(:) -->

        <h4>Computed properties</h4>
        <p> computed properties( a way to define a data property inside our component that depends on other data that we have inside that component)</p>

        <ul>

            <!-- the class isFav is included if the isFav property is true.This is a class binding that is bveing done in regards to the value -->
            <li v-for="items in filteredBooks" :class="{fav:items.isFav}" @click="changeFav(items)">
                <strong>{{items.title}}</strong>
                <p class="pt-0 mt-0">{{items.writer}}</p>
                <img :src="items.img">
            </li>
        </ul>

    </div>

    <script src="app.js"></script>
</body>

</html>